{% extends "layout.html" %}

{% block head %}
    <script src="static/index.js"></script>
{% endblock %}

{% block body %}
    <h1>URL Shortener</h1>
    <form id="url-shortener-form">
        <p>Enter your URL:</p><label for="original_url"></label>
        <input type="url" id="original_url" name="original_url" required /><br />
        <label for="custom_short_url">Custom Short URL (Optional):</label>
        <input type="text" id="custom_short_url" name="custom_short_url" /><br />
        <input id="button" type="button" value="Shorten">
    </form>
    <div id="shortened-url"></div>
{% endblock %}
