{% extends "layout.html" %}

{% block head %}
    <script src="static/index.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
{% endblock %}

{% block body %}
    <nav style="padding: 10px; text-align: center;"><h1>URL Shortener</h1></nav>
    <hr style="margin-top: 0px;">

    <form id="url-shortener-form">
        <div class="container input-group">
            <span class="left-item input-group-text">Enter your URL:</span>
            <input autocomplete="off" class="right-item form-control" type="url" id="original_url" name="original_url" required placeholder="https://example.com/" />
            <input class="btn btn-outline-secondary" type="button" id="button" value="Generate">
        </div>
        <div class="container input-group">
            <span class="left-item input-group-text">Custom URL (Optional):</span>
            <input autocomplete="off" class="right-item form-control" type="text" id="custom_short_url" name="custom_short_url" placeholder="name" />
        </div>
    </form>

    <form>
        <div id="form-div" style="margin-top: 30px;" class="input-group container">
            <span type="text" style="display: none;" class="form-control" id="shortened-url">localhost:5000/aorseitnoaienr</span>
            <button style="display: none;" class="btn btn-outline-secondary" id="copybutton"><i class="bi bi-clipboard"></i></button>
        </div>
    </form>
{% endblock %}
